*{
    background-color: lightblue;
    text-align: center;
}

#title{
    color: black;
    font-size: 50px;
    text-align: center;
}

#menuBar{
    list-style-type: none;
    display: inline;
    opacity: 0.7;
    color: white;
}
li {
    display: inline;
    margin: 10px;
}

#homeBtn{
    background-color: blue;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

#reqBtn{
    background-color: blue;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

#studentBtn{
    background-color: blue;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

#profileBtn{
    background-color: blue;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}
